{{!--
    Parameters:
    * feed (index, home, archive, recent)
    * postFeedStyle (list, grid)
    * showTitle (true, false)
    * showSidebar (true, false)
--}}

<section>
    <div>
        <h2>Latest</h2>
        <main>
            <div>
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            </div>
            {{pagination}}
        </main>
    </div>
</section>